[2017-02-02 02:32] sunchao opened #1 "Create a README for the project"
Should have enough information for people to get started.

[2017-02-07 06:16] sunchao opened #2 "Add row group filtering"
Right now we deserialize File metadata from Thrift, but this process has to handle all row groups, which is inefficient in case only a subset is selected. It's better to do something similar to parquet-mr.

[2017-02-18 04:45] sunchao opened #3 "Write a pretty-printer for file metadata"

[2017-02-21 08:27] #3 closed

[2017-02-22 19:50] sunchao opened #4 "Add a basic memory pool & allocator"
This is the preliminary work before we can implement reading for Parquet files.
We may just follow what Impala & Parquet-cpp does (https://github.com/apache/parquet-cpp/blob/master/src/parquet/util/memory.h), but replace with Rust's semantics.

[2017-02-27 05:31] sunchao opened #5 "Implement encoder & decoders"

[2017-02-27 05:36] sunchao opened #6 "Adding different compressions"

[2017-02-27 05:36] #6 closed, assigned to nobody

[2017-03-30 18:18] sunchao commented on #5
This consists of two subtasks: encoders and decoders. We can implement the latter first while leave the former for future write support.

[2017-05-04 16:50] sunchao opened #7 "Boost test coverage"
Right now the test coverage is quite poor. We should solidify on this before working on new features.

[2017-05-07 20:23] sunchao opened #8 "Remove Thrift generated files from test"
Remove `parquet_thrift/parquet.rs` from test coverage.

[2017-09-01 06:38] #7 closed

[2017-09-01 06:39] sunchao commented on #7
Up to 84% after excluding the thrift generate file from coverage.

[2017-09-01 06:39] #8 closed

[2017-09-05 00:55] sadikovi opened #10 "Issue when reading PLAIN_DICTIONARY fields"
I am currently working on Usage/Examples section in README and wanted to add couple of code snippets on how to use library (I hope you do not object to this). While working on it, found that there is a potential issue when reading columns with PLAIN_DICTIONARY encoding.

I am trying to read `data/alltypes_plain.snappy.parquet` file that is in repository with code that is attached below.

Discovere

[2017-09-05 00:57] sadikovi commented on #10
Example code I am trying to run (I place it in `src/bin/example.rs` in repository. I will convert it into usage example, if it is okay.
[code]

@sunchao I will convert it into 2 spaces indent when ready:)

[2017-09-05 00:58] sadikovi commented on #10
@sunchao Could you review this problem? It is also possible that my code to read is wrong.

[2017-09-05 05:17] sunchao commented on #10
@sadikovi Yes this does seem like a bug.. Please file a PR. Thanks!

[2017-09-05 05:19] sadikovi opened #11 "Issue when reading required INT32 column with PLAIN encoding"
For required fields with PLAIN encoding, current code `read_batch` in `ColumnReaderImpl` goes into infinite loop. It happens when field is required, it does not have repetition/definition levels, therefore `values_to_read` keeps being set to 0, which results in buffer being `&[values_read..values_read + values_to_read]` -> empty. This goes into infinite loop because decoding for empty buffer retur

[2017-09-05 05:20] sadikovi commented on #11
@sunchao please review and advice on next steps:)

[2017-09-05 05:25] sadikovi commented on #10
@sunchao I am happy to do that.

Apart from this issue: do you think it is good idea to add usage examples? I am very interested to know what you think about adding higher level API for reading (whether or not it is overall a good idea) and what ideas you have for such API - so we would have to write fewer code to read records (can also be useful for testing), e.g. Parquet -> JSON.

[2017-09-05 05:27] sadikovi commented on #11
Attached Parquet file that I am using to test this bug.

[spark.snappy.parquet.zip](https://github.com/sunchao/parquet-rs/files/1276185/spark.snappy.parquet.zip)

[2017-09-05 05:57] sunchao commented on #10
@sadikovi Yes I think it's good to add a few examples. Currently the `ColumnReaderImpl` is not easy to use. We could consider add a "scanner" type that functions as an iterator over the values in a column. Something like [this](https://github.com/apache/parquet-cpp/blob/master/src/parquet/column_scanner.h).

In future I'm thinking about adding conversion to Apache Arrow format, so the read API can

[2017-09-05 06:03] sunchao commented on #11
@sadikovi Yes you're right. Please file a PR with a test case for this. Thanks :)

[2017-09-05 07:34] sadikovi commented on #10
@sunchao this sounds great! I am looking forward to conversion into Apache Arrow format!:)

[2017-09-05 23:00] #10 closed

[2017-09-07 03:30] #11 closed

[2017-10-03 06:20] sunchao opened #21 "Update parquet.thrift"
The current `parquet.thrift` is outdated - we should update to the latest one (https://github.com/apache/parquet-format/blob/master/src/main/thrift/parquet.thrift) (and hopefully this won't break anything..)

[2017-10-03 06:20] #1 closed

[2017-11-03 04:35] sunchao opened #26 "Add benchmarks"
To evaluate performance, we should add benchmarks for encoding & decoding. Perhaps we can borrow some from the C++/Java version and compare the performance between these implementations.

[2017-11-30 20:26] sadikovi opened #27 "File coverage is not shown on coveralls"
When I look up coverage per file for a commit, coveralls reports following:

_The file "file/metadata.rs" isn't available on github. Either it's been removed, or the repo root directory needs to be updated._

I found that one could set repository root directory in coveralls: https://github.com/lemurheavy/coveralls-public/issues/886#issuecomment-266094774

@sunchao Could you have a look and possibl

[2017-11-30 20:40] sadikovi commented on #27
I will try it on a sample repository to see if it actually works.

[2017-12-02 06:45] sunchao commented on #27
@sadikovi Yes I noticed this too. Will look into this.

[2017-12-02 06:50] sunchao commented on #27
@sadikovi It is working now after setting the sub directory. Thanks for raising this issue!

[2017-12-02 07:17] sadikovi commented on #27
It works! Thanks for fixing it!

[2017-12-02 07:17] #27 closed

[2017-12-05 21:14] #21 closed

[2017-12-12 07:13] #26 closed

[2017-12-12 07:21] sunchao opened #32 "Investigate on publish the project in Cargo crate"
At some point we should investigate on the possibility to publish parquet-rs as a crate so that it can be more easily used by other projects. So far I think one main issue is that `parquet.rs` needs to be generated before compile time and there is no easy way to do this (something similar was done for protobuf rust which we may borrow). Otherwise, we have to put the generated `parquet.rs` in the r

[2017-12-14 06:20] sunchao opened #33 "Add encoder for DELTA_LENGTH_BYTE_ARRAY"
We have decoder for this but not encoder.

[2017-12-14 06:21] sunchao opened #34 "Add encoder for DELTA_BYTE_ARRAY"
We have decoder for this but not encoder.

[2017-12-14 06:31] sunchao opened #35 "Profiling encoding & decoding"
It may be useful to do some profiling on encoding & decoding. We can use existing bench for this. Some useful scripts:

For CPU:
[code]
The `stackcollapse-perf` and `flamegraph` are from [flamegraph](https://github.com/brendangregg/FlameGraph).

For cache performance (from [this thread](http://www.codeofview.com/fix-rs/2017/01/24/how-to-optimize-rust-programs-on-linux/)):
[code]
I also found that

[2018-02-06 08:53] #33 closed

[2018-02-06 08:53] #34 closed

[2018-02-06 20:44] sadikovi opened #40 "Planning milestone 1"
I compiled list of items that could be fixed in the near future, though it is not a complete list:
- Adding read support, this includes adding a high level API for reading data, additionally tooling similar to `parquet-mr/parquet-tools/cli`.
- Adding write support, this includes adding a high level API for writing data.
- Improving dictionary encoding/decoding (I am not sure about the effort here,

[2018-02-06 20:54] sadikovi commented on #40
@sunchao I hope I am not being annoying:) Would you mind to have a look at the list of items and let me know what you think? Or come up with even better list! Thanks!

[2018-02-07 04:57] sunchao commented on #40
@sadikovi Absolutely not. Thanks for the contribution!

Overall I think the list looks good. In my opinion, to get milestone 1 (i.e., 0.1.0 release), we'll need to get the following done (in priority orders):

1. read support as you suggested in bullet 1.
2. hardening the existing encoding/decoding features (bullet 3, 4, 5 above) - we'll need to some benchmarking against parquet-cpp and parquet-mr

[2018-02-07 20:11] sadikovi commented on #40
No worries, my pleasure!

Looks great! You are right, let's track the progress on "Projects" tab. Would be helpful to split the issues into small chunks, so they are not overwhelming:). Could you create all necessary stories in the Projects, when you have time? And we could close this issue then. Thanks!

Would be amazing to complete the first milestone!

P.S. I tried to work on read support, but

[2018-02-07 22:39] sunchao commented on #40
Yup. I'll create sub-tasks and attach them to the Projects tab. Also feel free to create tasks by yourself. :)

Feel free to share some details in the relevant tasks.

[2018-02-07 22:41] sadikovi commented on #40
Okay, thanks!

[2018-02-07 22:44] sunchao commented on #40
@sadikovi Could you add a task for adding read support and the CLI tools? you can then link it to the Projects.

[2018-02-08 00:22] sadikovi opened #41 "Add read support + high level API for reading Parquet files"
Current read API is low-level, and you can deserialize column values and repetition and definition levels separately. We should add more of high level API that allows to map column batches into rows (structs or vectors).

[2018-02-08 00:24] sadikovi opened #42 "Add CLI tools for reading files"
Add CLI tools like `parquet-mr/parquet-tools` as binaries, so people could use them to inspect files. We have already started doing it for file schema/metadata, we should add something to list records in a file, e.g. in JSON or tabular format or something similar.

[2018-02-08 00:28] sadikovi commented on #40
@sunchao I created #41 and #42 for read support and CLI. I do not have any option to link them to the Projects board, or assign milestone (looks like permissions issue). I also do not have `+ Add cards` button. Could you link them? Thanks.

[2018-02-08 00:39] sunchao commented on #40
Done. Thanks!

[2018-02-08 01:25] sadikovi commented on #40
Thanks! I am going to close this planning, since we have planned the future work!

[2018-02-08 01:25] #40 closed

[2018-02-19 08:35] sadikovi commented on #32
We could add something like `build.rs`, which would build the `parquet.rs` file. I have seen other projects relying on it, e.g. https://github.com/cmr/openblas-src. For example, Cargo.toml references build.rs (https://github.com/cmr/openblas-src/blob/master/Cargo.toml#L17) and build.rs itself (https://github.com/cmr/openblas-src/blob/master/build.rs).

So technically we do not even need Makefile,

[2018-02-19 19:17] sunchao commented on #32
@sadikovi Yes `build.rs` could potentially help. However, generating `parquet.rs` will require Thrift binary installed on the target machine which I'm not sure if Rust crate allows.

[2018-02-19 19:26] sadikovi commented on #32
Yes, you are right. However, I was naively thinking that we just check if thrift is available and we can generate parquet.rs, otherwise fail with instructions on installing correct version of thrift - just an idea, not sure how user friendly this is.

[2018-02-19 19:33] sadikovi commented on #32
We could also try installing thrift in build.rs, similar to how openblas buids underlying libraries, will that be feasible?

[2018-02-19 19:33] sunchao commented on #32
Yes we can try that. We just need to make sure that Crates.io will allow crates be published in this way. On the user side we can provide some useful message in case Thrift is not installed (or even a script to install the right version of Thrift).

[2018-02-19 20:56] sadikovi commented on #32
Sounds great! I will try playing with it, see if it could be done.

[2018-02-19 20:57] sadikovi opened #45 "Build fails with Rust 1.25-nightly"
Looks like build fails on the latest nightly version:
[code]

Get following errors:
[code]

[2018-02-19 20:58] sadikovi commented on #45
@sunchao do you have any ideas why? I have not seen these errors before.

[2018-02-20 03:32] sunchao commented on #45
@sadikovi I think this is related to https://github.com/rust-lang/rust/pull/45404. Looking at how to resolve this..

[2018-02-20 03:53] sadikovi commented on #45
Interesting. I was trying to resolve this, but I have ended up with more errors than I started with! Thanks for looking into that, @sunchao.

[2018-02-20 05:24] #45 closed

[2018-02-20 05:30] sadikovi commented on #45
@sunchao thank you very much for fixing it, I did not know how to solve this one. Great that you found solution and the reference pull request for the issue!

[2018-02-20 05:51] sunchao opened #47 "Fix encodings::encoding::tests::test_byte_array"
Seems this test is flaky.

<img width="1089" alt="screen shot 2018-02-19 at 9 50 05 pm" src="https://user-images.githubusercontent.com/506679/36409201-0539edd8-15bf-11e8-9e98-8ca1ee200e16.png">

[2018-02-20 05:52] sunchao commented on #45
NP :)

[2018-02-27 08:06] sadikovi commented on #47
How often do you reproduce this? Could you provide some information on how to reproduce this error? I tried running all tests several times in a row, and all tests were passing.

Hopefully, it is not a bug in actual implementation!:)

[2018-02-27 08:07] sadikovi commented on #41
I am working on it right now, progress is a bit slow, but I will get to it full time shortly.

[2018-02-27 16:47] sunchao commented on #41
Great! what in-memory representation you are considering to represent the types such as map, list, struct?

[2018-02-27 16:48] sunchao commented on #47
I can't reproduce it locally either - just saw it once in the travis job. Let's keep it open for now and see if it happens again. :)

[2018-02-27 18:56] sadikovi commented on #41
Good question! I have not done much for the complex types, just trying to make it work with required and optional primitive types. I am considering to make it parquet-mr like with some code from Iceberg. But I have not done that yet. I will post initial API once I have at least something working.

[2018-02-28 05:43] sunchao commented on #41
Cool. We could consider to use Arrow as the in-memory representation. Looking forward to the initial API and feel free to create more sub-tasks.

[2018-03-01 05:16] sadikovi commented on #41
Yes, you are right - we had this discussion earlier, the problem was that Arrow Rust was still in development and might not have all the features we need. I suggest we go for it, since we could easily replace it with Arrow once it has a reader support, and it is a challenge:).

[2018-03-04 09:01] sadikovi commented on #41
Currently, progress is happening in branch https://github.com/sadikovi/parquet-rs/tree/read-support. This is more like WIP of WIP, a lot of print statements, etc. I also defined some API, which is sort of like parquet-mr + spark. You are very welcome to have a look and comment on the current state!

My current idea is adding this, then adding even higher level, like json reader, so others could ju

[2018-03-06 21:53] sadikovi opened #51 "TODO for decoding in set_current_page_encoding() method"
I encountered this TODO the other day, and thought if we should fix it, since we added support for pretty much all decodings in Parquet.

Line with TODO: https://github.com/sunchao/parquet-rs/blob/master/src/column/reader.rs#L315

Suggest we open PR to add it. I am not sure how we are going to test - adding files with new encodings or using make pages function?

[2018-03-06 21:53] sadikovi commented on #51
@sunchao Could you comment on this TODO? Should we address it now? It does not sound particularly complicated, just need to figure out how to test it.

[2018-03-07 00:52] sunchao commented on #51
@sadikovi Yes, good point. We can address this now. It should be easily turned on, and most of the effort will be on testing.

[2018-03-07 06:30] sunchao commented on #41
Thanks @sadikovi . Agreed that we probably should wait until Rust support for Arrow is ready. To my understanding, the Rust support inside Arrow will primarily be various structs to represent different types, and the reading part (that is, parsing a Parquet file and assemble them into the structs provided by Arrow) should be done inside this project.

Sounds good. By record-based, you mean the cur

[2018-03-07 06:44] sadikovi commented on #41
Yes, that’s how I refer to the method:)

[2018-03-07 18:26] sunchao opened #52 "Support Zstandard compression codec"

[2018-03-07 18:26] sunchao opened #53 "Support LZ4 compression codec"

[2018-03-07 18:27] sunchao opened #54 "Add benchmark for different compression codecs."

[2018-03-09 06:19] sadikovi opened #56 "Update and refactor tests in src/column/reader.rs"
Currently we have tests in `src/column/reader.rs`, which are split into 3 main functions `test_plain`, `test_dict` and `test_read_batch`. We should refactor common functionality and improve test structure, so it is easy to add new tests in the future, e.g. for different encodings or types.

Relates to #48.

[2018-03-11 03:06] sadikovi commented on #41
Hi @sunchao I am wrapping up the first implementation of the record reader. Now you can actually read files and print content!

You can give it a go (branch: https://github.com/sunchao/parquet-rs/compare/master...sadikovi:read-support):
[code]
This will print full schema, projected schema (can be changed to get fewer columns), and records.

### Changes
I decided to remove parquet-mr API and go wit

[2018-03-11 20:28] sadikovi commented on #41
Tested with interesting files - it works! Verified with Spark, see below:

**sample5.snappy.parquet**
[code]

**sample6.snappy.parquet**
[code]

[2018-03-12 04:15] sunchao commented on #41
Hi @sadikovi : this looks awesome! I'll take a look at the branch and post any feedback I have soon. Thanks!

[2018-03-12 04:16] #56 closed

[2018-03-12 04:18] sunchao opened #58 "Add more comments for test set up for column reader, encoding/decoding"
Some of the test setup, such as the one in `column/reader.rs`, is quite complicated and hard to understand. We should add more high-level comments for future reference.

[2018-03-13 04:18] sunchao commented on #41
Hmm... seems I cannot comment on the branch. Could you just open a PR from the branch?

[2018-03-13 04:20] sadikovi commented on #41
Sure. Will do.

[2018-03-13 04:22] sadikovi commented on #41
Opened PR #59.

[2018-03-17 18:18] sunchao opened #61 "PLAIN encoding for boolean is not following Parquet format"
[Parquet encoding format](https://github.com/apache/parquet-format/blob/master/Encodings.md) specifies boolean should be encoded as bit-packed, LSB first. In the current implementation we just encode it as plain 1-bit value.

It is a little confusing though, that the bit-packed encoding, is already deprecated and replaced by RLE/bit-packed hybrid encoding. Nevertheless, parquet-mr follows this spe

[2018-03-20 05:36] sunchao opened #63 "Porting Parquet-671 for performance improvements on RLE/bit-packed encoding"
Benchmark shows that the RLE/bit-packed encoding spent most of the time on `load_deltas_in_mini_block` which in turn calls `BitReader::get_value`. This is not very efficient as it get one boolean value at a time!

[Parquet-671](https://github.com/apache/parquet-cpp/pull/140) implements some nice improvement for this. We should try to port it to our Rust implementation.

[2018-03-23 23:21] sunchao opened #66 "Test coverage (coveralls) is failing due to invalid argument"
See the attached image:
<img width="971" alt="screen shot 2018-03-23 at 4 20 36 pm" src="https://user-images.githubusercontent.com/506679/37857166-454e742e-2eb6-11e8-8d1f-6bb3d1477d3c.png">

[2018-03-26 16:32] #32 closed

[2018-03-29 23:01] #41 closed

[2018-03-29 23:01] #42 closed

[2018-03-31 17:45] #66 closed

[2018-03-31 17:47] sunchao opened #71 "Publish to Crates.io"
With #67 resolved, I think we are ready to publish an initial version to Crates.io. @sadikovi : what do you think?

[2018-03-31 17:56] andygrove commented on #71
In my opinion, it's almost never too early to publish. It makes it much easier for people to start pulling this in as a dependency and start experimenting.

[2018-03-31 18:05] sunchao commented on #71
Yes agreed. Especially as we have the record API and binaries to read metadata & rows now. This is a good time to publish and for people to try it out.

[2018-03-31 18:09] andygrove commented on #71
Great timing for me too, since my Rust implementation of Apache Arrow just got merged to the main repo ;-)

[2018-03-31 18:24] sunchao commented on #71
Cool! I think we are going to try it out here :)

[2018-03-31 23:18] sadikovi commented on #71
@sunchao sorry for the late response. Nice! We should definitely do this, so people could start trying it out! I don’t know how publish on crates works though.

@andygrove could you comment on your plan for using your implementation with parquet-rs? I saw a couple of other Rust implementations for arrow, so I am a bit confused.

[2018-03-31 23:49] andygrove commented on #71
@sadikovi My PR is now the official Rust implementation of Arrow. I did draw some inspiration from other implementations and worked with some of those authors to get this PR in place. I expect others will start contributing soon.

My interest in Arrow and Parquet is for my project https://github.com/andygrove/datafusion-rs

I haven't stared using parquet-rs yet so don't know specifically what the

[2018-04-01 04:13] sunchao commented on #71
The crate is [published](https://crates.io/crates/parquet)!

[2018-04-01 04:13] #71 closed

[2018-04-01 04:18] sadikovi commented on #71
Great! Thanks a lot! 🎉

[2018-04-01 04:22] sadikovi commented on #71
I assume that our plan also includes publishing documentation somewhere - I saw most of the crates doing it on `docs.rs` (I do not know if we would need to pay for it). I will try working on documentation updates next week.

[2018-04-01 04:35] sunchao commented on #71
@sadikovi: Yes you are right - we also need to improve the document on the source code. Another thing is to think about what APIs we should expose to public.

BTW: do you have a username on the Crates.io?

[2018-04-01 04:40] sadikovi commented on #71
Yes, you are right. We have a TODO on exposing only public items and hiding internal details. I will addressing that as well.

I logged in with my github account on crates.io.

[2018-04-03 16:48] sunchao opened #73 "Support new logical type representation in Parquet format 2.5.0"
[Parquet-906](https://issues.apache.org/jira/browse/PARQUET-906) introduced new logical type representation which we should consider to upgrade to. Parquet-MR is also going to [work on this](https://issues.apache.org/jira/browse/PARQUET-1253). This requires us to upgrade to Parquet format 2.5.0

[2018-04-04 01:00] andygrove opened #74 "Problems installing Thrift"
I was rushing through this a bit to be honest, so may have failed to properly read all the instructions, but I copied steps from the travis yaml file to clone the thrift repo.

My build fails with:

[code]

I'm using Ubuntu 16.04.4 LTS

[2018-04-04 01:29] sunchao commented on #74
@andygrove interesting.. I'm using Ubuntu 17.04 and my compilation works. Do you have `yacc` installed? what is the version?

[2018-04-04 01:36] andygrove commented on #74
```yacc - 1.9 20140715```

[2018-04-04 01:45] sunchao commented on #74
Hmm. Seems you don't have bison. Can you try to install that?
[code]

[2018-04-04 01:49] andygrove commented on #74
Thanks that gets me a little farther along.

[code]

I have this version of flex installed:

[code]

[2018-04-04 02:06] sunchao commented on #74
The flex version looks right. But seems it thinks that it is missing? can you try to rerun the following steps before make?
[code]

[2018-04-04 03:59] andygrove commented on #74
Thanks. That seems to have resolved the issue. It is building now.

[2018-04-04 14:07] andygrove commented on #74
All good now. I can run `cargo test` in the parquet-rs project. Thanks!

[2018-04-04 14:07] #74 closed

[2018-04-05 03:55] andygrove opened #76 "Cannot run parquet-read binary"
I cloned the repo, ran `cargo clean` then `cargo build` but then cannot run the `parquet-read` binary.

[code]
I do not have this libstd library. The closest I have are:

[code]

[2018-04-05 04:04] sadikovi commented on #76
I had this problem, you just to update LD_LIBRARY_PATH / DYLIB_LIBRARY_PATH. This also happens when you run `cargo install` and try using `parquet-read` or `parquet-schema`.

One way of doing it is running `cargo run --bin parquet-read XYZ.parquet`.

Another is setting `export LD_LIBRARY_PATH=$(rustc --print sysroot)/lib` or appropriate env variable on OSX. After that it should work.

[2018-04-05 13:49] andygrove opened #77 "Suggestion: Add examples"
With a new Rust project I usually go look at the examples first. I think it would be helpful to have some simple examples for reading parquet files. Perhaps one column-oriented and one row-oriented?

[2018-04-05 20:58] sadikovi commented on #77
Thanks @andygrove. You are right, some sort of doc reference would be very helpful.

We are going to publish crate documentation and possibly README update that includes examples of using column reader API and record reader API. I am currently working on it in `update-documentation` branch, will try finishing it by next week.

[2018-04-05 21:02] sadikovi commented on #77
If you need some reference right away, I suggest you look at https://github.com/sunchao/parquet-rs/blob/master/src/bin/parquet-read.rs for getting records and what types are available (https://github.com/sunchao/parquet-rs/blob/master/src/record/api.rs).

For column reader API, I suggest looking at https://github.com/sunchao/parquet-rs/blob/master/src/column/reader.rs#L44 and triplet functionality

[2018-04-06 02:52] sadikovi opened #78 "Update crate documentation"
Currently we do not publish documentation when releasing a new version of crate. It would be very useful for people to get started, if we had one.

Items to cover:
- Compile documentation for crate, so it can be published, e.g. module documentation, structs, methods, etc.
- Add some references in README.
- Add badge to point to the latest docs.
- Fix docs.rs build somehow (?), see comments below.

[2018-04-06 02:52] sadikovi commented on #77
I created an issue for this that I am working on currently #78.

[2018-04-06 03:49] andygrove commented on #78
You probably already know this, but docs.rs published some docs for you here:

https://docs.rs/crate/parquet/0.1.0

If couldn't produce code documentation though because the build failed:

https://docs.rs/crate/parquet/0.1.0/builds/94072

[2018-04-06 03:58] sadikovi commented on #78
Oh, thanks! Documentation still needs updates though, this is a good start.
We need to attach the badge and also fix how documentation is built. I am wondering if there is some sort of step to publish documentation manually, instead of running automatic doc build.

[2018-04-06 04:10] sadikovi commented on #78
@sunchao would you mind to comment on what we do with thrift not being installed when building docs? I am not sure, if there is a way to configure docs.rs to install thrift first.

I was also thinking that we could technically install thrift in build.rs script, if one does not already exist.

[2018-04-06 04:38] sunchao commented on #78
It seems hard to publish to docs.rs without building it - installing thrift may not work since it requires sudo privilege.

Another option is to publish to github pages, like mentioned [here](https://users.rust-lang.org/t/whats-the-best-documentation-solution-other-than-docs-rs/16211).

[2018-04-06 04:42] sadikovi commented on #78
@sunchao Thanks! This looks like a really good alternative and we have Travis set up already for builds, so it should be relatively easy to configure github pages.

[2018-04-06 04:46] sunchao commented on #78
Yes. And another alternative is to attach the generated `parquet.rs` to each release (like the [release 0.1.0](https://github.com/sunchao/parquet-rs/releases/tag/0.1.0)) **before** publishing it to crates.io, and add an option in build.rs to download the file instead of compiling thrift, perhaps only for the docs.rs case.

Not sure if this could work though.

[2018-04-06 04:54] sadikovi commented on #78
I like your suggestion about travis + github pages alternative, but would not mind any option that works and results in minimal amount of effort for us:). I could not find a difference between changes in recent release 0.1.0 compared to the previous release... did you manually include parquet.rs? We might need to disable build.rs in this case, but I am not sure:)

[2018-04-06 05:06] sunchao commented on #78
Hmm.. what do you mean, 0.1.0 is the first release we have.

Yes I had to manually upload the `parquet.rs`.

We can add a feature tag (such as `[doc]`, see [here for detailed info about feature tag](https://doc.rust-lang.org/cargo/reference/manifest.html)) in the `Cargo.toml` which will provide a `#[cfg(feature = doc)]`. This can potentially be used in `build.rs` to skip the thrift compiling and d

[2018-04-06 05:48] sadikovi commented on #78
I meant previous 0.1.0 release. All good, I suggest we wait until I open PR with documentation update and then we decide how to publish:). Thanks for the help!

[2018-04-06 05:58] sunchao commented on #78
NP. Sounds good.

[2018-04-06 13:21] andygrove opened #79 "Add support for reading columns as Apache Arrow arrays"
This is going to be easy. I have some ugly prototype code working already.

[code]

Now we need to come up with a real design and I probably need to add more helper methods to Arrow to make this easier.

[2018-04-06 13:36] andygrove commented on #79
Here is a cleaned up version:

[code]

[2018-04-07 17:05] andygrove commented on #79
I've made good progress with integrating parquet-rs with datafusion .. I have examples like this working

[code]

It only works for int32 columns though so far

[2018-04-07 19:24] sunchao commented on #79
nice progress @andygrove ! really glad you can read parquet now using SQL.

[2018-04-08 01:37] sadikovi commented on #79
Looks great! I am curious how Arrow handles/maps optional or repeated fields (when definition and/or repetition levels exist).

[2018-04-08 16:27] andygrove commented on #79
I have merged the current Parquet support to master in DataFusion. I have added examples for both DataFrame and SQL API.

https://github.com/datafusion-rs/datafusion-rs/tree/master/examples

This is very rough code and I won't be promoting the fact that Parquet support is there until this is a little more complete and tested.

[2018-04-08 19:37] sunchao commented on #5
All the encoders and decoders have been implemented.

[2018-04-08 19:37] #5 closed

[2018-04-09 23:37] sadikovi commented on #58
I am going to fix this in #78.

[2018-04-10 04:56] #63 closed

[2018-04-10 21:33] sadikovi opened #83 "Process statistics for column chunk metadata and data page headers"
There is a TODO that I think we should complete to have full featured read support.

https://github.com/sunchao/parquet-rs/blob/master/src/file/metadata.rs#L268
https://github.com/sunchao/parquet-rs/blob/master/src/file/reader.rs#L357

Also take into consideration https://github.com/sunchao/parquet-rs/blob/master/src/file/reader.rs#L332.

Will work on it.

[2018-04-11 04:45] sunchao commented on #83
Yes stats will be an important piece. This will also unlock various predicate pushdowns in future.

[2018-04-11 04:59] sunchao commented on #61
Hmm. What if parquet-mr writes a file with boolean values, and mark the encoding type as `PLAIN`. Seems parquet-rs will init a `PlainDecoder<BoolType>` and try to decode it, which will fail?

[2018-04-11 05:16] sadikovi commented on #61
IMHO, parquet-mr will assign correct encoding name to whatever encoding it applies. I really hope it does:)

As long as parquet-mr assigns name of the encoding that matches actual encoding, then we can handle it correctly, regardless how they encode boolean values.

I just wanted to note that we already have the code to handle both and could potentially read both, but as you mentioned, there could

[2018-04-11 05:42] sunchao commented on #61
NP. I agree with your comments. Let's keep it open for now.

[2018-04-13 16:32] #58 closed

[2018-04-13 16:32] #77 closed

[2018-04-13 16:32] #78 closed

[2018-04-13 23:10] andygrove opened #85 "Add type-safe accessors to Row"
When processing parquet files I would like the ability to get values like this:

[code]

Currently I have to write pattern matching each time I want to extract a value.

[2018-04-13 23:14] andygrove commented on #85
PR: https://github.com/sunchao/parquet-rs/pull/86

[2018-04-14 01:44] sunchao opened #88 "Releasing 0.2.0?"
We made several important changes on the code base recently:
1. Get rid of the Thrift dependency which makes this crate much easier to use by other projects (#82 )
2. Updated documentation and with 1) we will publish the doc to docs.rs, which will be very useful (#81)
3. Improved decoding performance for various encodings including dict, rle, delta_binary_packed, etc. (#80)

I think it may be a go

[2018-04-14 01:59] andygrove commented on #88
I would especially appreciate this as I can no longer publish my documentation to docs.rs because of the the thrift issue.

[2018-04-14 11:57] andygrove commented on #85
I agree. I can make this change but then each accessor will now need to perform two matches - one to check that the Row is a Group and then another match for the contained Row. This is in addition to creating a Vec for each row being read. This is quite expensive.

I think a better approach would be for the row reader to return a trait for reading each row that has accessor methods that can get th

[2018-04-14 12:30] andygrove commented on #85
I pushed changes to the PR to add this:

[code]

I then implemented this for Row. Let me know if you like this and I'll finish adding the tests.

[2018-04-14 12:31] andygrove commented on #85
I figure with this approach, it will be possible later to have get_row_reader() return an iterator over this perhaps.

[2018-04-14 19:13] sunchao commented on #85
I wonder if it makes sense to break the current `Row` into two parts: a top level `Row` type that contains a list of `(fieldName, fieldValue)` pairs, and another `RowField` type which replaces the current `Row`. The top level API will still remain the same. We can then implement various `getXXX` methods on `Row`, and avoid exposing the internal `RowField` type.

@sadikovi : would like to know your

[2018-04-14 23:58] sadikovi commented on #88
Agree 100%

[2018-04-15 01:30] sadikovi commented on #85
It is a good idea, plus, I think it should have been named RowField in the first place:). I like the idea of accessing by field name and by position.

The implementation might take some time though, so I would suggest we go with what @andygrove has done, since it is already really good, and would unblock him.

[2018-04-16 02:45] sunchao commented on #85
I've opened #89 with the refactoring. Can you take a look? After that, #86 can be resolved in a better way I think.

[2018-04-16 03:02] sunchao opened #90 "Improve dictionary encoding with SIMD"
Similar to [PARQUET-684](https://issues.apache.org/jira/browse/PARQUET-684), dictionary encoding can potentially be improved using SIMD instructions such as `gather`.  There's a [blog post](https://lemire.me/blog/2016/08/25/faster-dictionary-decoding-with-simd-instructions/)  that describes this idea, and a [prototype](https://github.com/lemire/dictionary).

[2018-04-17 23:16] andygrove opened #93 "HDFS Support?"
I'm curious if there are plans to support HDFS within this crate?

The Java parquet library allows parquet files to be read locally or from HDFS and in both cases it is possible to push down the projection and only retrieve the columns needed, which can make a huge difference in performance.

[2018-04-18 04:26] sunchao commented on #93
Yes that's in the plan. I took a brief look at the hdfs crate, and think it should be relatively easy to have [`HdfsFile`](http://hyunsik.github.io/hdfs-rs/hdfs/struct.HdfsFile.html) implement the [`Read`](https://doc.rust-lang.org/std/io/trait.Read.html). With that, it seems to only require a small code change.

The projection pushdown is orthogonal to the HDFS issue I think. It is [already suppo

[2018-04-21 09:16] sadikovi commented on #88
When are we going to publish 0.2.0? Should we wait for #86 and #91, and #94?
I will try fixing statistics tomorrow or after we have settled on the design, and will update PR on decimals.

@andygrove Let me know if you need any help with field accessors PR. Thanks!

[2018-04-21 19:47] sunchao commented on #88
Sorry for the delay @sadikovi . I'm hoping to at least get #86 in since it is a API change.

[2018-04-21 20:03] andygrove commented on #88
@sunchao #86 is good to go (@sadikovi approved it)

[2018-04-21 21:17] sunchao opened #95 "Support FixedLenByteArrayType in DeltaByteArrayEncoder"
See parquet-mr: https://github.com/apache/parquet-mr/blob/master/parquet-column/src/main/java/org/apache/parquet/column/values/factory/DefaultV2ValuesWriterFactory.java#L81

[2018-04-22 04:15] sunchao commented on #85
Closing this since #86 is merged.

[2018-04-22 04:15] #85 closed

[2018-04-24 02:48] sunchao commented on #88
I'm also working on a PR to support accessors for List & Map, which is also necessary for 0.2 I think. Otherwise, one pretty much can't do anything after getting List & Map.

[2018-04-24 02:50] sadikovi commented on #88
Nice, thanks!

[2018-04-25 04:52] #54 closed

[2018-04-25 15:01] #53 closed

[2018-04-25 15:03] sunchao commented on #88
All the required PRs are merged, except #94. @sadikovi : do you think we should postpone that to a later release? If so, I'll release 0.2.0 today. 😃

[2018-04-25 19:52] sadikovi commented on #88
Well done! I think we should release 0.2.0. I am still working on #94, and it does not block the release and it will take me some time to finish.

[2018-04-26 04:12] sunchao commented on #88
I just published 0.2.0! However, docs.rs did not use nightly rustc and so [failed to compile the project](https://docs.rs/crate/parquet/0.2.0/builds/97194). I'm figuring out a way to fix this now. We may need to publish a minor release for the doc issue.

[2018-04-26 04:17] andygrove commented on #88
Another option is running cargo docs manually and self hosting the docs.

On Wed, Apr 25, 2018, 10:12 PM Chao Sun <notifications@github.com> wrote:

[2018-04-26 06:16] sunchao commented on #88
@andygrove Thanks. Will take that as an option also.

[2018-04-26 21:55] sadikovi commented on #88
@sunchao Would you mind creating a new release on Github (https://github.com/sunchao/parquet-rs/releases)? Thanks!

Let me know if you need any help with publishing docs on Github pages. I am more than happy to help out.

[2018-04-26 23:37] sunchao commented on #88
@sadikovi . Sure. I just published the release. I'm still looking at why docs.rs doesn't use nightly for build. Yeah, it would be great if you can also look at publishing docs to Github pages. Thanks!

[2018-04-28 06:09] sadikovi commented on #88
I thought it would be acceptable to do the following:
- Having `/docs` folder the main repo or having a separate repository for docs
- Having a script that we run when releasing a new version, that script will do:
  - Check that there are no outstanding changes in master branch
  - Fetch the list of tags, validate the new version
  - Build the crate, run tests optionally
  - Build docs
  - Change

[2018-04-28 11:38] sadikovi commented on #88
Or as an alternative Travis supports pushing to Github pages: https://docs.travis-ci.com/user/deployment/pages/. This would mean that we just need to add cargo doc as a build step and configure deploy step in Travis. But this would build docs for every commit to master.

[2018-04-29 04:27] sunchao commented on #88
@sadikovi Thanks for the suggestions. Personally I'm in favor of the github pages approach, for deploying docs for master branch. I think we can create a branch `gh-pages` and publish docs there. It should be OK to build docs for every commit (not including pull requests) as it is relatively fast. A good example will be https://github.com/hyperium/hyper.

On the other hand, I'm in favor of publish

[2018-04-29 04:52] sunchao opened #105 "Investigate poor compressing performance of Brotli"
From the benchmarks, Brotli compressing performance is pretty bad comparing to other codecs. We should investigate and improve it.

[2018-04-29 06:37] sadikovi commented on #105
It could be because of the suboptimal constant values for the codec, so we might need to tweak them.

[2018-04-29 06:46] sunchao commented on #105
Yes that's most likely...

[2018-04-29 06:48] sadikovi commented on #88
Let's settle on gh-pages for now. I was thinking if publishing manually is better. By manual publishing, I mean having a script that updates new version, publishes crate and uploads docs on gh-pages branch.

But we could do it either way.

[2018-04-29 12:59] sadikovi commented on #88
I played with publishing docs on `gh-pages`. I explain what I tried and then the actual steps to add it.

### Approaches

First, I tried publishing docs via `deploy` feature on Travis (it supports GitHub pages). It does work nicely, except the fact that `git push` is always force, which overrides the root directory, so we could only keep the latest documentation folder. I have all the settings in

[2018-04-29 13:00] sadikovi commented on #88
@sunchao Let me know what you think of the approach, and let me know if you want to do it, or I should make the changes for docs (I can open a PR). Thanks!

[2018-04-29 19:33] sunchao commented on #88
Thanks @sadikovi . This is excellent description! I'll try to make changes following this.

[2018-04-29 19:43] #95 closed

[2018-04-30 06:43] #83 closed

[2018-05-04 05:15] #105 closed

[2018-05-05 11:12] sadikovi commented on #88
I think we should close this issue as 0.2.0 has been released including docs.
Could we release 0.3.0? I think there have been a considerable number of changes that could qualify for 0.3.0. Thanks.

[2018-05-05 16:11] sunchao commented on #88
@sadikovi Sure. I'll release it today.

[2018-05-05 16:11] #88 closed

[2018-05-05 17:08] sunchao commented on #76
Close this now and filed #111 to update README.

[2018-05-05 17:08] #76 closed

[2018-05-07 20:27] sunchao opened #113 "Migrate to stabilized x86/x86_64 SIMD"
Currently the SIMD feature requires the `x86intrin` crate and a compile time flag `RUSTFLAGS="-C target-feature=+sse4.2"`. Since [x86/x86_64 SIMD is already stabilized](https://github.com/rust-lang/rust/pull/49664), we should no longer need this crate dependency, and more importantly, enable feature check at run time via the command: `is_x86_feature_detected`.

[2018-05-08 08:45] adrianN opened #114 "Writing?"
This crate doesn't seem to support writing Parquet files. Is this planned? I'd like to convert CSV files to Parquet.

[2018-05-08 10:43] sadikovi commented on #114
No, it does not support writes as of release 0.3.0. I was going to start working on it in the coming days.

[2018-05-08 10:47] adrianN commented on #114
Awesome!

[2018-05-08 13:03] andygrove opened #115 "Coveralls badge in README says coverage is 0%"

[2018-05-08 18:49] sunchao commented on #115
This seems an transient issue for coveralls.io. Now it changed back to normal.

[2018-05-09 02:39] sadikovi opened #116 "Write support for Parquet (low-level writes)"
This is a sort of an RFC for write support in this crate.

Currently the crate only supports reads as low-level column reader API and high level Row API, with Arrow support coming in the future release(s) (?).

I propose we start adding low-level column writer API, including file writer, page writer, column writer and pretty much everything that will allow us to support writing data pages and row

[2018-05-09 02:41] sadikovi commented on #114
I am going to close this issue, I opened the RFC issue #116, the progress will be tracked there.
Hopefully, no objections, and everyone do have a good day!

[2018-05-09 02:41] #114 closed

[2018-05-09 02:44] sadikovi commented on #116
@sunchao Would you mind commenting on this issue? I would like to know your opinion and any suggestions you have on the write support and overall direction, or if there is anything that I missed.

I am happy to take the ownership of this work and my original plan was exploring this in my branch and creating incremental PRs to support write functionality.

Let me know what you think and if there ar

[2018-05-09 02:46] sadikovi commented on #113
That is great! I am curious if there is a nightly release with this PR already. Will update my Rust version!

[2018-05-09 05:18] sunchao commented on #116
Thanks @sadikovi , this will be a great feature to have. I'm not very familiar with the write path so far but will take a look at the existing implementations and add my inputs. I do suggest we make this as a umbrella issue and break the task into pieces (just discovered this feature in GitHub).

[2018-05-09 05:21] sunchao opened #117 "Add a list of supported features, and future roadmaps to README"
It may be good to add the features we support, as well as future work items into README, so people can easily know what is working and what is not.

[2018-05-10 04:11] #113 closed

[2018-05-11 06:02] sunchao opened #119 "Compile with stable Rust"
One of major nightly feature we rely on: impl trait, has been stabilized in the latest 1.26 release. We should see if it's easy to remove the nightly dependency and move to stable.

[2018-05-14 04:49] #117 closed

[2018-05-31 07:10] sadikovi commented on #116
Sorry for the delay, I can finally start working on this, will experiment in my branch, see what happens.

[2018-05-31 07:27] sunchao commented on #116
no worries at all! I was also busy with some other stuff recently and haven't done much at all on parquet-rs... do plan to start looking at arrow-parquet integration as well as understanding how write can be implemented for parquet-rs.

[2018-07-01 19:46] sadikovi commented on #116
Initial write support is proposed in https://github.com/sunchao/parquet-rs/pull/127 and is
considered WIP at the moment. The PR implements low-level write API, which means we provide some
basic traits and structs for user to write data: `FileWriter`, `RowGroupWriter`, `ColumnWriter`, `PageWriter`.
User must take care of converting nested values into values, definition and repetition levels.

Unfor

[2018-07-01 19:47] sadikovi commented on #116
@sunchao I opened a PR with the initial write support. Could you review when you have time? We can discuss the details and high level approaches in the PR. Thanks!

[2018-07-08 11:17] sadikovi commented on #116
I updated description with the sub-tasks.

[2018-07-09 06:58] sadikovi commented on #116
Prototype did not use `max_row_group_size` to configure the size of the row group, which was a design problem. I think I will get back to it, once I start working on row group writer. We also need to make sure that we use all, but max statistics size in the first version of writer (statistics are not supported in writes currently).

[2018-07-15 21:22] sadikovi commented on #47
Here is a full stack trace for the failure (commit 7eaed58dd44d0005bae3d45b8eea00e8b0835cdc):
[code]

[2018-07-18 06:43] sunchao commented on #47
Thanks @sadikovi . I filed a PR to fix this issue.

[2018-07-18 22:22] #47 closed

[2018-07-29 09:21] sadikovi commented on #116
@sunchao would it be okay to open PR with just column writer with some changes in page writer, and add tests in a separate pull request? It could be difficult to review them in one PR.

[2018-07-29 16:10] sunchao commented on #116
@sadikovi Sure. Please go ahead. Thanks.

[2018-08-01 06:56] sadikovi opened #139 "Discussion around Box<?> and dynamic dispatching"
I would like to start discussion around having Box<?> in the trait. Several PRs have been opened to address potential performance regressions because of that. There are couple of other problems with Box<?>, one of them is inference of 'static lifetime by default, unless we specify lifetime explicitly.

My proposal is slowly migrating to usage of enums and generics instead, the reason being that al

[2018-08-01 06:57] sadikovi commented on #139
@sunchao I know it might be a bit early to jump onto this work, but I would like to come up with some sort of consensus of what we are going to do moving forward. Would like to know your opinion, thanks!

[2018-08-01 16:25] sunchao commented on #139
Thanks for bring up this proposal @sadikovi . I'd suggest we first find out whether this is really causing perf issue from benchmarks. If so, I'd say yes, we should remove the dynamic dispatching cost (actually most of the costs come from inlining I think).

I can create a micro-benchmark to test the value reader performance. It is good to add anyway.

[2018-08-01 16:28] sadikovi commented on #139
Thanks. We should definitely profile it. However, I am convinced that removing Box could improve the usability and fix some other issues around lifetimes. Let me know what you think.

[2018-08-01 16:42] sunchao commented on #139
Do you mean `Box` using `'static` lifetime in default? To my impression this hasn't caused much of an issue and the default `'static` lifetime should just work mostly. Can you give some example where it makes it hard to use?

IMO enum also has its disadvantages too. For instance, you'll need to do a pattern matching on it before you can call the specific method.

[2018-08-01 17:52] sadikovi commented on #139
I just had some issues when writing tests for column writer, but I managed to work around those issues, at least for now. I agree, enums can be quite annoying to work with. I remember you mentioning the problem about DataType having `'static`, I thought we could solve those issues by using enums in encoders and decoders.

I am happy to close this issue, since we need to add write support first. Af

[2018-08-03 11:12] asdetrefle opened #140 "Read is much slower than `pyarrow.parquet.read_table`"
I know it’s still a project on progress but when I am testing it with some 40 files, I found it much slower than the normal way we read it from python. Is that normal?

Each of my file has 21 columns all `double`, containing between 10k-40k rows. In total around 600k rows.

The codes I used to test the speed is just:

[code]

[2018-08-04 15:43] sadikovi commented on #140
Did you build the library with release profile?

[2018-08-04 15:44] sadikovi commented on #140
Plus, I am not sure if the test is comparable, in Rust you are collecting into vector, but in pandas you just return pandas DataFrame.

[2018-08-05 03:17] asdetrefle commented on #140
Yes with release. I agree it is not directly comparable but I just wanted to have an idea how much time it costs to load everything into memory and store in a collection.

But in theory, for example there is a file with 40k row and it took around 300 milliseconds - Nearly 7 microseconds per row. This is slow in absolute terms and is unlikely to be caused by vector allocation.

[2018-08-05 07:43] sadikovi commented on #140
We will look into this performance issue, thanks.

[2018-08-06 00:17] asdetrefle commented on #140
Thanks. I actually update to 1.30 nightly and retested this morning. It only takes 1.7 seconds now. This is quite strange. I think previously I was using 1.28.

[2018-08-06 04:58] sunchao commented on #140
Thanks for reporting this @asdetrefle ! Is there anyway that you can share the files? It will be great if we can reproduce this on own end and start investigating..

[2018-08-08 08:09] sadikovi commented on #139
I am closing this issue, since we figured it may not be worth the change.

[2018-08-08 08:10] #139 closed

[2018-08-08 14:06] asdetrefle commented on #140
I'll try to reproduce it on my personal PC and share the data later.

[2018-08-09 21:07] gnieto opened #143 "Static lifetime issues"
While working on adding support to read from a generic `Read`, I've found that there are some usability issues derived from the usage of  `'static` lifetime and/or `Box`ing.

For example, even if the reader is now generic, only static data can be parsed from a cursor. You can see an example on the description of this PR: https://github.com/sunchao/parquet-rs/pull/142

[2018-08-09 21:12] gnieto opened #144 "Apply clippy suggestions"
I've ran clippy on the project and it reports some issues. I think it would be nice to apply the suggestions and even ran clippy on CI/Travis.

What do you think?

[2018-08-10 00:55] JakeBecker opened #145 "Can't be included in a dylib type crate"
Tested on Mac OS Sierra. Including datafusion as a dependency in a crate with
[code]
Causes the linker to fail:
[code]
It appears that both libzstd and liblz4 include the C library xxhash, and this causes the duplicate symbol error.

[2018-08-10 04:53] sunchao commented on #145
Thanks for reporting this @JakeBecker . Not very familiar with dylib myself but will take a look at the duplicated symbol error.

[2018-08-10 04:56] sunchao commented on #144
+1. I think this will be a good thing to add.

[2018-08-10 06:14] sadikovi commented on #144
Can you be clear if those are issues or suggestions?

[2018-08-10 06:16] sadikovi commented on #143
Then I do not see the point of merging PR until we fix the underlying problem. Otherwise, there is not much use of that work. We should scope the work and come up with subtasks, if possible.

[2018-08-11 08:01] sadikovi commented on #140
Yes, the record assembly is very slow. I wrote the benchmark on our test 10k file, here are the results:

file: parquet-rs/benches/record.rs
cargo bench bench_record_reader

[code]

[code]

It is actually very slow, increasing batch size to 4096 does not improve the time, but I think we should do it anyway. There are some minor improvements with regard to vectors in the record tree, but not much.

[2018-08-12 16:41] sunchao commented on #140
Thanks @sadikovi for doing this. I did the bench on my machine and it shows similar result:

[code]

Can you file a PR to add this benchmark to the code base? we may need to find where the time is spent most - maybe using flamegraph.

[2018-08-13 20:27] sadikovi opened #148 "Fails to read INT96[0, 0, 0]"
Following the discussion on the PR, we found that the code fails to read Int96[0, 0, 0]. It is quite an edge case, because 1 January 1970 would correspond to something like Int96[0, 0, 2440588].

This is result from Spark, when reading Int96[0, 0, 0], Int96[0, 0, 1], and Int96[1, 0, 0]:
[code]

Milliseconds:
[code]

I tried patching the code, and this works and returns the exact milliseconds like

[2018-08-13 20:29] sadikovi commented on #148
@sunchao would you like to comment? We can fix it, but the code would return ~~a wrong result~~ different result compared to Spark.

[2018-08-14 06:12] sadikovi commented on #148
By the way, file is written using WIP of parquet-rs write support!

[2018-08-16 04:37] asdetrefle commented on #140
Thanks! Mine is similar:

[code]

[2018-08-16 07:52] sunchao commented on #140
I did some profiling on the benchmark and generated this flamegraph:

<img width="1198" alt="screen shot 2018-08-16 at 12 42 45 am" src="https://user-images.githubusercontent.com/506679/44195274-6828d580-a0ed-11e8-9e25-235f72147a5d.png">

around 23% is spent on the bench itself, which we should refine the bench to exclude this.

45.65% is spent on `RowIter#next()` method, which is:

<img width="11

[2018-08-16 07:54] sadikovi commented on #140
Nice! Thanks! Are there any action items that we can extract from the profiling? Addressing creation of structs/values in record readers, maybe improving how we fetch values from encoders?

[2018-08-16 07:55] sadikovi commented on #140
How difficult is it to generate flamegraphs? It would be great to profile decoders with it as well!

[2018-08-16 18:09] sunchao commented on #140
@sadikovi

For detailed action items, I think we'll need to improve memory management since most of the costs seem from that. I'll look into details on the code to see whether there's any "low hanging fruit" we can grab.

First you'll need a Linux system such as Ubuntu, then you can follow the descriptions I put in #35 to run the commands. Feel free to comment there if you are stuck. I can help to

[2018-08-17 08:45] asdetrefle commented on #140
There is a method `Reader::read()` in the module `record/readers.rs`. I noticed that if I change

[code]

to

[code]

It did improve my use case by 25% but it didn’t change a lot for the 10k test file when I run `cargo bench`. I assume this is because the test file has less columns than my files.

Furthermore, the allocation in the next line `String::from(reader.field_name())` did cost at least 30

[2018-08-17 08:52] sadikovi commented on #140
Yes, I found the same thing, when writing the benchmark, but the performance improvements of Vector::with_capacity were minor when I ran benchmark, so were from adding String or using &str; and were 20-30% combined. It looks like there is a significant chunk of time spent on actual value extraction and collection, which is what @sunchao pointed out in his comment.

What I found after stripping all

[2018-08-20 07:25] asdetrefle commented on #140
Let me just go back to the original issue. Some more testing gives me more ideas.

Actually the time spent on the value extraction is minimal in my test case. (I am now using one of my files which has 40k row and 21 columns because it has more columns than the bench 10k file so make the difference more significant). Some numbers:

..* The total time for `get_row_iter().collect()` is ~80ms.
..* The

[2018-08-20 07:38] sadikovi commented on #140
Thanks for the numbers! I got a different time distribution when testing on
my machine, for some reason. Interesting, read_next is only supposed to
increment index for most of those calls.

Everything needs performance improvements, I quite like the idea of having
Table similar to Arrow.

Would be good to add your benchmarks, so we can run them afterwards and see
the difference. We might also want

[2018-08-20 12:09] asdetrefle commented on #140
I was able to reproduced the file using simulation. See [pull request](https://github.com/sunchao/parquet-rs/pull/154).

[2018-08-22 14:37] asdetrefle commented on #140
Got some strange benchmark for the new bench data.

[code]

Will try adding some low level benchmarks before doing a PR.

[2018-08-29 12:30] wxyu9191 commented on #74
up floor,,,,help me!!!  I meet the same question in thrift. when I try to make it, it shows error like this:make[3]: Entering directory `/home/worker/thrift/thrift/compiler/cpp/src'
/bin/sh ../../../ylwrap thrift/thrifty.yy y.tab.c thrift/thrifty.cc y.tab.h `echo thrift/thrifty.cc | sed -e s/cc$/hh/ -e s/cpp$/hpp/ -e s/cxx$/hxx/ -e s/c++$/h++/ -e s/c$/h/` y.output thrift/thrifty.output -- byacc -d

[2018-08-29 19:54] sadikovi commented on #74
If you are trying to build parquet-rs, the latest version does not require thrift anymore - so I suggest you upgrade. If you have a general thrift question, you might find more help on their mailing list or repository issues.

[2018-09-04 14:45] sadikovi opened #156 "Parquet-schema command should also report statistics if available"
When debugging Parquet files I found that it can be useful to see the column statistics (if available), e.g. when trying to figure out if row group filtering is happening in Spark.

Would be great if we could print statistics (min, max, nulls, maybe column order) in addition to all of the metadata the command already displays.

[2018-09-09 21:27] #156 closed

[2018-09-10 08:52] sadikovi opened #159 "Improve parquet-schema and parquet-read CLI tools"
This is a follow-up of #156.

CLI tools `parquet-schema` and `parquet-read` could be improved with a better help message and parameter support, since the current version of both tools has a basic functionality, which is enough for now, but it is not very extensible and lacking support of complex argument parsing.

For example, it would be good to display data as a table or support printing in JSON

[2018-09-11 14:46] sadikovi opened #160 "Failed to install parquet using "cargo install""
Rust version: rustc 1.30.0-nightly (551244f05 2018-09-10)
Parquet version: 0.3 (the latest is released on crates.io)
It was working okay in 1.28. I am not sure why it needs to compile files that are used for testing only.

When I run `cargo install parquet`, I get the following error:
[code]

[2018-09-14 10:01] sadikovi commented on #160
Still happens with `rustc 1.30.0-nightly (90d36fb59 2018-09-13)`; I will have a look later today.

[2018-09-14 13:49] sadikovi commented on #160
Yes, parquet 0.3 uses rand 0.4.3 dependency that contains major changes that break the compilation. We patched this in our main repo, that is why `cargo install --git https://github.com/sunchao/parquet-rs.git` works (I actually tested on my fork). The fix is releasing a new version on crates.io.

@sunchao Are there any major blockers for releasing parquet 0.4? Or any features you would like to see

[2018-09-14 13:55] sadikovi commented on #160
One of the solutions here could be using X.Y.Z versions in Cargo.toml, instead of X.Y, this would give confidence that no significant changes would affect other libraries or `cargo install`.

[2018-09-14 16:56] sunchao commented on #160
Thanks @sadikovi !

Hmm.. how do you know that rand 0.4.3 has backward incompatible changes? I checked their [changelog](https://github.com/rust-random/rand/blob/master/CHANGELOG.md) and there's only one fix in that release.

Personally I think writer support is the main features for the 0.4 release. I also think we should address some of the performance issue raised recently. Do you have any time

[2018-09-14 17:43] sadikovi commented on #160
I do not know, really. I just tried installing parquet 0.3 on my machine and got the above error message. I think it is because Rust 1.30 now compiles test fails and they could have been failing in parquet 0.3. Anyway, it will be resolved once we release 0.4.

I don't have any blockers in mind. I was thinking if we could release 0.4 and address performance issues in 0.5.

[2018-09-14 17:43] #160 closed

[2018-09-14 17:47] sunchao commented on #160
Sounds good. Releasing 0.4 without the perf issue sounds fine to me as well.

[2018-09-14 17:57] sadikovi commented on #116
@sunchao There are 2 stories left to address. Would you like to wait until we fix them, or would you like to close the write support issue and move those 2 stories into separate issues?

[2018-09-15 08:13] sadikovi opened #164 "Support writing statistics"
This is derived from #116.

It would good to add statistics support for a write path, since currently we do not write statistics.
I think it only needs to be added to column writer (as a statistics update code), other parts of the code already handle if statistics were written for a column.

We also already have a feature flag in `WriterProperties` to enable/disable statistics and max size for sta

[2018-09-15 08:19] sadikovi opened #165 "Limit writing row groups based either on size or number of records"
This is derived from #116.

Currently we do not limit row groups size in any way, even though we have options in `WriterProperties` for it, like max row group size. Parquet-mr and parquet-cpp already handle that, we could borrow the mechanism from either implementation.

[2018-10-06 16:34] andygrove opened #166 "Parquet-rs 0.3.0 no longer builds with latest Rust nightly"
I can no longer build DataFusion with latest nightly because it depends on parquet-rs 0.3.0 which no longer builds.

I see that the latest code builds fine. Will there be another release soon?

[code]

[2018-10-06 23:00] xrl commented on #166
Please try my branch and let me know if it introduces any regressions!

[2018-10-07 13:05] sadikovi commented on #166
Related to https://github.com/sunchao/parquet-rs/issues/160. We just need to release a new version.
ping @sunchao. I think the current state of the master is more or less okay for the release.

[2018-10-07 14:40] sunchao commented on #166
Yes we should release parquet-rs 0.4 soon. I'll create an issue for this and hopefully can resolve it quickly.

[2018-10-07 14:44] sunchao opened #168 "Release parquet-rs 0.4"
The majority of the write support is implemented (see #116), so it's a good time to release 0.4. We should also wait until #167 to be resolved.

@sadikovi : let me know if there's anything else you want to include in this release.

[2018-10-07 16:53] sadikovi commented on #168
Looks good!

[2018-10-08 13:53] #166 closed

[2018-10-08 14:36] sunchao commented on #168
0.4.0 just released!

[2018-10-08 14:36] #168 closed

[2018-10-08 14:36] sunchao commented on #166
@andygrove 0.4.0 just released. Can you update the version and let us know if it works now?

[2018-10-10 08:58] liurenjie1024 commented on #79
@andygrove @sunchao Are you guys working on this? I'm working on an implementation which takes the cpp version as a reference.

[2018-10-10 09:27] sunchao commented on #79
@liurenjie1024 are you working on the [arrow](https://github.com/apache/arrow) part or the parquet-rs part? some more work in the arrow repo needs to be done so that parquet-rs can read into arrow format . I'm working (slowly) on that part.

[2018-10-10 19:16] xrl opened #170 "Depending on parquet 0.4.0 from crates errors with git command failure"
Looks like the published 0.4.0 version of parquet is erroring during build, doesn't matter if it's release or debug.

The build script was added in https://github.com/sunchao/parquet-rs/pull/128

Here's the failing Cargo.toml dependency and then the error which happens during build:

[code]

error:

[code]

this is fixed by changing parquet to a git source, where the `git` command will return a va

[2018-10-11 01:45] sunchao commented on #170
Oops. Thanks for reporting @xrl ! I agree that we should fail gracefully in this case. I've created a PR to fix this. Once it gets merged, we'll release 0.4.1.

[2018-10-11 07:46] #170 closed

[2018-10-12 04:00] xrl opened #173 "Implement Drop for RowGroupWriter, ColumnWriter, and friends"
I'm learning parquet with this library and it there's a lot of room for messing up when it comes to closing various resources. It would be more rust-y (idiomatic) if the library provided `Drop` implementations for these types.

Take this code for example:

[code]

there are two ways I can mess up (and indeed did), forgetting to call `close_column` or forgetting to call `close_row_group`.

The `std

[2018-10-12 06:33] sadikovi commented on #173
Have you read the documentation? Was it clear how to use column writers and row group writers?

From definition: `Because of this recursive dropping, you do not need to implement this trait unless your type needs its own destructor logic.`. Even having implemented this trait, you can still close out of order - so it does not necessarily solve the problem. The major issue is keeping the track of a

[2018-10-12 14:46] xrl commented on #173
I am very new to parquet and I'm still working through the core concepts of row group writers (columns I understand, but I guess column aren't necessarily contiguous? they go through pages/chunks?). I was happy to just write a file with INT32 IDs in it!

Now I am moving on to more complex values and it does seem very error prone. I understand it's a low level writer and there's room for operator e

[2018-10-12 14:58] xrl commented on #173
I think this is the relevant issue/pr pair:

https://github.com/sunchao/parquet-rs/issues/116
https://github.com/sunchao/parquet-rs/pull/149

[2018-10-12 15:09] sadikovi commented on #173
Yes, you are right - there is a room for improvement in parquet writer. I have been snowed under recently, will try getting back and improving things in parquet, in particular working on the tools to convert csv/json tables into parquet (no guarantees though!).

Parquet page is the smallest self contained unit of data that you can read, it has all of the encoding information, compression informati

[2018-10-12 15:51] xrl opened #174 "How to write a None value to a column"
I am converting postgres-stored data in to a parquet file and I am going to deal with a sparse list of strings. How do I use the column writer to write those Option<String>?

With this schema:

[code]

I get this error:

[code]

Is `OPTIONAL` not what I think it is?

[2018-10-13 16:42] sadikovi commented on #174
There is no concept of Null/None value type in Parquet. Null values are managed by definition levels, depending on the value of the definition level you get the null value at nesting level that you need.

So basically, if you use the low-level API, the simple example would be something like this:
[code]
This would result in something like this:
[code]

Of course, it gets more complicated when you

[2018-10-14 17:35] andygrove opened #175 "API has changed but README is not updated and there are no examples"
In DataFusion I have updated to 0.4.1 but my code no longer compiles:

[code]
I cannot easily find examples of what I need to do. The README is not updated and there are no examples in the repo.

I will go and look in the codebase and try and figure this out but this issue is more about docs/examples being available than the issue itself.

[2018-10-14 17:37] andygrove commented on #175
I take it back .. the call to create it hadn't changed but the return type had

I needed `SerializedFileReader<File>` now instead of `SerializedFileReader`

[2018-10-14 17:37] #175 closed

[2018-10-18 05:36] xrl commented on #174
Thanks for the tips, I read over some Twitter blog posts and now I get it a little more, the definition level is for specifying how much of the structure is defined. Sounded like a bitmask at first but I see the number is for quantifying how fully defined the value is.

Now I'm doing two passes over the list of structure with optional string, one pass to gather up the ByteArrays, the other to mark

[2018-10-18 21:55] sadikovi commented on #174
Well, it looks alright. But couple of things:
- You probably want to make it like this:
[code]

Another thing is that values slice should only contain non-null elements. For example, if you have `"a"`, `null`, `"b"`, `null`, you would have values slice as `["a", "b"]` and definition levels `[1, 0, 1, 0]`. Try that, see if that works. Hope it helps.

But it looks like we need to make write API bett

[2018-10-18 23:38] xrl commented on #174
Looks like my writer code had a variety of errors, namely

 * off by one paging error pointed out above
 * should have used flat_map to par down the array to be tightly packed data
 * did not close row_group
 * did not close file

I was able to track down those last two by creating a sample in-memory data set and make sure it could be read back. The last code snippet above was actually generating

[2018-10-19 02:29] xrl commented on #174
A little bit of refactoring and I've got something which will be useful as I expand my collection of writers. I imagine I'll be writing a lot of sparse lists of bytearray data:

[code]

when called it looks something like:

[code]

I've read that rust's iterator code is sometimes suboptimal so I will benchmark these two flavors of writing a column.

[2018-10-19 06:43] sadikovi commented on #174
@sunchao yes, you are right. I am also thinking about doing something similar to #173, to make sure users close column writers, row groups and files. I was personally in favour of adding Row API similar to reads, where you give us a `Vec<Row>` and we will write them into a file with proper definition and repetition levels. But, of course, we could do similar thing in a number of ways.

@xrl Looks

[2018-10-19 07:05] sunchao commented on #174
@xrl : thanks! the code snippet you provided is very helpful, we'll try to make the API more convenient soon.

@sadikovi : +1 on a Row API. We can borrow some ideas on how parquet-mr [does it](https://github.com/apache/parquet-mr/blob/master/parquet-hadoop/src/main/java/org/apache/parquet/hadoop/api/WriteSupport.java).

[2018-10-20 09:24] sadikovi opened #176 "Fix Parquet version "created by" string"
Currently, because of my patch that introduced the regression and was subsequently reverted, parquet version (`created by` field) is something like `parquet-rs version X.Y.Z`. But it is generally accepted to have version in the following format `parquet-rs version X.Y.Z (build {git hash})`.

I will think about the ways of fixing it, but something tells me that we should have a separate script to s

[2018-10-30 17:59] xrl opened #177 "How do I write a BigDecimal value?"
I am loading numeric data from diesel with:

[code]

cast to a struct with

[code]

The current ColumnWriter does not include a easily compatible decimal type:

[code]

I think I found the decimal type definition here: https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#decimal and it looks like it's up to the writer to move between i32/i64/fixed_len_byte_array/binary_array. Is th

[2018-10-30 22:48] gnieto opened #178 "Panic when reading parquet files"
I downloaded some sample files from https://github.com/gitential/datasets/tree/master/antirez-redis and I'm not able to load the schema or read the file.

**Example file**: https://s3.amazonaws.com/gitential-datasets/antirez-redis/tags.parquet
**Branch**: master
**Command**:  RUST_BACKTRACE=1 cargo run --bin parquet-schema -- tags.parquet
**Output**:
[code]

[2018-10-30 23:13] sadikovi commented on #177
Yes, you are right. You would have to write physical types and assign DECIMAL logical type to it. And you are also right about having something that abstracts writes for those fields. It looks like it could be decimal, string, timestamp, date fields, etc.

Not sure about adding this to column writer, but we definitely need something. Did you have any particular design in mind?

[2018-10-30 23:13] sadikovi commented on #178
Interesting. Let me check the file.

[2018-10-30 23:37] sadikovi commented on #178
Well, this is a funny problem. Our reader fails to compare number of column fields with the same value in row group - they should match obviously, except they don't. The reason is Thrift schema element sets number of children for the primitive type, see below:
[code]

Which results in the following schema, notice that there are no primitive types:
[code]

The reason this is happening is `num_child

[2018-10-30 23:39] sadikovi commented on #178
Thanks for reporting @gnieto! Let me know if you would like to fix this problem(s), otherwise, I will open a PR.

[2018-10-31 03:51] sunchao commented on #178
Hmm this is interesting finding. Thanks for identifying the issue so quickly @sadikovi ! Yes we should fix it as well as support the extra types. We can also use the files in antirez-redis for testing purpose.

[2018-10-31 08:29] sadikovi commented on #178
Thanks! Yes, I will open PRs today or tomorrow. Do you mean we should add those files to the repository? I was thinking if we could maintain a separate repository with all of the test files we plan to use and run parquet-schema and parquet-read on them to make sure we did not break anything. What do you think?

[2018-10-31 16:09] sunchao commented on #178
No I meant to test them manually. Yes we can have a separate repo just for the test files, as long as it is convenient to pull from `parquet-rs` and test. Do you want to move all the files under `data/` to there too?

[2018-10-31 16:51] sadikovi commented on #178
No, I do not want to move those files into a separate repo - that was just an idea, maybe do it in the future. Yes, I will check other files, see if we can read those.

[2018-10-31 20:32] nevi-me commented on #79
This is unrelated, but I've seen that CSV readers are being implemented in Arrow (I think Python, C++, and there's a Go one that's an open PR).

BurntSushi's `rust-csv` got me wondering whether it'd be possible to implement a native CSV to arrow reader, which I think would also extend nicely to parquet.

@sunchao @andygrove , do you know if there's been discussion of something like this? Also, wou

[2018-10-31 20:37] sunchao commented on #79
Yes it is certainly do-able - it needs to be implemented in the arrow repo though. Some pieces may still be missing and you're welcome to work on the arrow repo :)

Also I'm not sure how this extend to parquet. Can you elaborate?

[2018-10-31 20:46] nevi-me commented on #79
Yes, I've been following the Rust impl in Arrow. When I'm ready, I'll ask about it in the mailing list before opening a JIRA (didn't see one).

The extension to parquet was more in concept than anything; in the sense that if I can read a csv to arrow, I'd be able to get csv -> parquet working. I understand that csv is a "simpler" format due to its flat nature.

Also, I haven't checked to see if `d

[2018-10-31 20:55] sunchao commented on #79
Yes feel free to create a JIRA :)

I see. Yes I think we discussed (cc @sadikovi ) multiple times about creating a CSV -> parquet converter. This will be convenient. We should certainly do it.

[2018-11-01 07:33] sadikovi commented on #178
It looks like there is more than one problem with the file. First is the one with num_children, the second is the root message type has a repetition of `Some(REQUIRED)`.

From Thrift definition:
[code]

But it does have in this file. @sunchao Should we patch that as well? I am not sure why parquet-cpp is different.

[2018-11-01 08:54] sadikovi commented on #178
It looks like our schemes deserialisation code is not as robust as parquet-cop. I will work on that.

[2018-11-01 16:53] sunchao commented on #178
This is interesting. Seems the above definition already exist since [parquet-format 1.0.0](https://github.com/apache/parquet-format/blob/parquet-format-1.0.0/src/thrift/parquet.thrift), which is 5 years ago.. not quite sure why parquet-cpp is different and whether parquet-mr also does the same thing.

Thanks for working on this @sadikovi !

[2018-11-01 17:01] sunchao opened #179 "Upgrade to use parquet-format 2.5.0"
Parquet format 2.5.0 for Rust just [released](https://crates.io/crates/parquet-format). No change on the format definition so hopefully we just need to update the dependency version.

[2018-11-01 17:36] sadikovi commented on #178
It is all good. I sent an email on dev list with these questions, I will
try patching it meanwhile.
On Thu, 1 Nov 2018 at 6:05 PM, Chao Sun <notifications@github.com> wrote:

[2018-11-03 06:48] nevi-me opened #183 "CSV to Parquet"
Hi, I'm experimenting with creating a CSV to Parquet writer, and I have a few questions.

My endgoal from the experiment is to create a crate that converts various file formats (csv, bson, json) to parquet. This would lend itself to being a possible CSV to Apache Arrow reader.

1. How can I write strings? I used `message schema {REQUIRED BYTE_ARRAY name;}`, but when I read a parquet file in Python

[2018-11-03 10:36] sadikovi commented on #173
Actually, the more I think about this, the more I tend to agree that your approach is the best and removes the necessity to close writers. We should implement Drop for all of those types, because it is quite annoying to call close every time. I will try it out and open a PR for it.

[2018-11-03 10:48] sadikovi commented on #183
ping @xrl and @sunchao You, guys, are more familiar with Arrow and converting CSV to Parquet.

1. Yes, you are right, it is a byte array with a UTF8 logical type. Here is the doc that might help you: https://github.com/apache/parquet-format/blob/master/LogicalTypes.md

2. Looks right to me. You just need to specify UTF8 for that column in your schema.

3. Don't quite understand what you mean. Defi

[2018-11-03 10:49] sadikovi commented on #183
It looks like we do need a high-level API for writes. @xrl @sunchao let me know if this is required, I can create an SPIP issue and kind of small design doc for it.

[2018-11-03 12:30] nevi-me commented on #183
Thanks @sadikovi, for number 4, I forgot that when modifying a parquet, you indeed rewrite a new file.

On number 3, a csv use-case is simpler because I won't have nested values. I might however have nulls. Your explanation addresses most of my question. so for nulls I might be able to:

``rust`
let all_fields: Vec<Type> = some_data;

let unique_vals: Vec<Type> = some_data.distinct();

let positio

[2018-11-03 14:36] sadikovi commented on #183
Note that you provide non-null values and the list of definition levels.
Also it looks like people struggle to write values. I will start working on
high level write API, so you will be able to easily map values from CSV or
JSON.
On Sat, 3 Nov 2018 at 1:30 PM, Neville Dipale <notifications@github.com>
wrote:

[2018-11-03 16:13] nevi-me commented on #183
I've made some progress with generating a schema from inspecting a sample of csv values. An easier write API would be great, as right now I don't know how to deal with nulls.

To deal with nulls, would a function/interface that takes `Option<Type>` work?

[2018-11-03 17:09] xrl commented on #183
@sadikovi I do agree that a high level write API is required. I've been hammering out my diesel-to-parquet code and I've been writing many different flavors of Vec<Option<T>> writers and stumbling over keeping the column writers lined up with the schema. I have some observations that are probably best put in an issue. I'll wait for you to post your design and I will definitely chime in!

[2018-11-03 17:13] xrl commented on #173
It'll be interesting to see what you come up with. I'm concerned with your initial, and correct, observation: `you can still close out of order`. Perhaps closing the individual column writers may be left up to the RowGroup?

[code]

[2018-11-03 17:19] nevi-me commented on #183
@xrl, I haven't gotten there. with nulls. Here's my code to read a csv with strings and integers https://gist.github.com/nevi-me/443025fe11038e2709083db2e24a5e64

I can do trial & error for other field types. Not the most effecient, but it's a start.

[2018-11-03 18:14] sadikovi commented on #173
I think we will just throw an error when this happens. I will try and see
what I can do. Thanks!

On Sat, 3 Nov 2018 at 18:13 Xavier Lange <notifications@github.com> wrote:

[2018-11-03 19:05] xrl commented on #173
I don’t think Drop can return an error. I think the return type is ().

[2018-11-04 09:28] sadikovi commented on #173
It is not what I meant, I know it returns Unit. I was thinking about simply panicking when when one of the operations is not performed correctly, in order to at least indicate an error somehow. But that results in some weird behaviour, and expected error would always result in panic.

It does look like moving to &mut might be the best solution yet. Closing out of order can be relatively easily sol

[2018-11-06 01:59] liurenjie1024 commented on #79
I'm working on an arrow reader implementation and have finished the first step, converting parquet schema to arrow schema in this [PR](https://github.com/sunchao/parquet-rs/pull/185), please help to review this.

[2018-11-06 07:05] sunchao opened #186 "Add Arrow Support"
This is the umbrella ticket to track adding Apache Arrow support. Tasks:

- Adding Arrow schema converter (#185).

[2018-11-07 08:14] sunchao commented on #186
Thanks @liurenjie1024 . Updated the description for some potential tasks.

[2018-11-07 18:48] sunchao commented on #173
Thanks for the discussion. I think my original concern is that, if we return `&mut`, the returned row group writer can only be used within the same call stack as the file writer, which is a limitation. I agree that changing it to `&mut` can simplify things though. We can explore this idea.

With `&mut`, instead of having a `drop`, can we just close the previous writer when calling `next_row_group`

[2018-11-07 18:50] sunchao commented on #148
@sadikovi : can we close this issue? I believe this is largely resolved by #184?

[2018-11-07 18:51] sadikovi commented on #148
Kind of. Yes, we can close it.
On Wed, 7 Nov 2018 at 7:50 PM, Chao Sun <notifications@github.com> wrote:

[2018-11-07 18:51] sunchao commented on #143
Closing this as the related PR is merged already. @gnieto : feel free to re-open if you think there's more issues related to static lifetime.

[2018-11-07 18:52] #143 closed

[2018-11-07 18:53] sadikovi commented on #173
We already have that, in a way. I suggest we keep it open, I will keep
thinking how to solve it.
On Wed, 7 Nov 2018 at 7:48 PM, Chao Sun <notifications@github.com> wrote:

[2018-11-07 18:53] sunchao commented on #79
The umbrella task is #186. Please watch that issue for progress on this matter.

[2018-11-07 18:54] sunchao commented on #178
@sadikovi , @gnieto : let me know if this can be closed now. :)

[2018-11-07 18:55] #148 closed

[2018-11-07 18:57] sadikovi commented on #178
Well, we can close it, it will work with the example file. But there is
another file timestamps.parquet which has Int96 values that we can’t
convert to dates to print.

I suggest we close it, and open another issue if needed.
On Wed, 7 Nov 2018 at 7:54 PM, Chao Sun <notifications@github.com> wrote:

[2018-11-07 18:57] gnieto commented on #178
It seems solved on the last version

[2018-11-07 18:57] #178 closed

[2018-11-07 19:02] sunchao commented on #178
another file timestamps.parquet which has Int96 values that we can’t
convert to dates to print.

Is that related to the dates before 1970? we can open another issue for that.

[2018-11-07 19:08] sadikovi commented on #178
Yes, it is. It is the same problem as Int96(0, 0, 0).
On Wed, 7 Nov 2018 at 8:02 PM, Chao Sun <notifications@github.com> wrote:

[2018-11-08 06:13] sunchao opened #187 "Apply rustfmt?"
This has been discussed long time back (see #44). As we have more people contributing to the project now, I wonder if we should revisit this, provide a rustfmt template and check it in CI. Personally, I had some good experiences with rustfmt in other projects, as well as similar stuff in Go. @sadikovi : want to hear you opinion on this.

[2018-11-08 07:41] sadikovi commented on #187
Sounds good. My only worry is that all rules are applied in all or nothing fashion, I could not manage to make it work with only a subset of rules. If there is a way to do it now or there are no objections to applying all rules, then let’s add it.

[2018-11-08 08:04] sunchao commented on #187
Yes it is all or nothing, which means we need a giant commit to fix all the existing style violations. Personally I'm fine with that. I'll add a PR for the rules & results.

[2018-11-08 08:18] sadikovi commented on #187
Okay, thanks.

[2018-11-08 12:47] sadikovi commented on #186
I suggest adding an item to update the existing doc to reflect the addition of arrow reader/writer.

[2018-11-08 14:31] andygrove commented on #186
DataFusion has code for loading parquet into arrow ... might be worth
looking at

On Thu, Nov 8, 2018 at 4:47 AM Ivan <notifications@github.com> wrote:

[2018-11-08 16:00] sunchao commented on #186
@sadikovi Thanks - added.
@andygrove cool - will take a look.

[2018-11-08 18:06] nevi-me opened #188 "Writing Dates and Timestamps"
I'm continuing with my adventures of writing csv to parquet, but I got stuck with how to write times/dates to parquet.
Specifically, how do I declare the schema (assuming I'm using the text format `message schema {}`)?

I read up on the logical types and their mapping to/from data types, so I tried using `i64` for my schema, but I think I'm missing something because I don't know how to map the typ

[2018-11-08 19:22] xrl commented on #173
@sunchao can you further explain why it's useful for row group writer and file writer to be used in different call stacks? Does that mean you want to send row group writers to different threads?

[2018-11-09 02:14] liurenjie1024 commented on #186
@andygrove Yes, I'll take that as a reference. Also I'll also reference the cpp implementation of arrow adapter of parquet.

[2018-11-09 08:03] sadikovi commented on #188
https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#datetime-types

[2018-11-09 08:05] sadikovi commented on #188
I would use TIMESTAMP_MILLIS now, which is just INT64 with corresponding logical type, probably the easiest to write.

[2018-11-10 14:31] andygrove commented on #186
I am very interested  in this. I am wondering if we can add a generic reader trait to the main arrow project and then have an implementation in parquet-rs.

I have a CSV reader for arrow that could be published as a separate crate and implement the same trait.

[2018-11-11 00:53] xrl commented on #173
I think it will look more "rust-y" to have the `&mut` and there will be less boilerplate.

If we want to pass references of writers across thread boundaries (which is what I think you're saying), we would need to add synchronization to the file writer. The immutable-rs library provides two flavors of the crate: Rc and Arc. We might might want to consider that: a fast single-threaded implementation

[2018-11-11 18:38] sunchao commented on #173
Yes it looks more rusty that way and potentially more performant, though I don't understand the second paragraph you said though. Can you elaborate that?

[2018-11-13 06:55] sunchao opened #191 "Support reading & writing Arrow in encoder/decoders."
In order to read into Arrow format, we need to add a `get_spaced` (borrowing from the c++ version) method in the decoder to leave spaces for null values, in the result value buffer. Same for encoders.

[2018-11-13 17:21] sadikovi commented on #191
We have similar thing in record reader.

[2018-11-13 17:30] sunchao commented on #191
Hmm... you mean `record/reader.rs`? I couldn't find anything related. This is on the encoding level though - so we'll need to add a new method in `Encoder` and `Decoder`.

[2018-11-13 17:44] sadikovi commented on #191
How will you add it to the encoder or decoder? They don’t have information about null values - they encode or decode non null values.

If I am not mistaken - https://github.com/sunchao/parquet-rs/blob/master/src/record/triplet.rs#L310

Let me know if this is not what you had in mind, I will delete my comments.

[2018-11-13 17:50] sunchao commented on #191
The interface will be similar to [here](https://github.com/apache/arrow/blob/master/cpp/src/parquet/encoding.h#L51). The `valid_bits` will be computed from def/rep levels, and passed to the call. See [here](https://github.com/apache/arrow/blob/master/cpp/src/parquet/arrow/record_reader.cc#L419) for an example.

[2018-11-15 07:00] sadikovi commented on #177
I think you mean Decimal. What Decimal support are you talking about? Decimal is not a Parquet type, and we have column writers for each one of those. You can write decimal values in three different ways. I will start working on record writer, this should solve most of your problems.

[2018-11-15 07:41] sadikovi commented on #177
Fair enough. Sorry, I feel like I lost the context.
- If you are talking about some generic BigDecimal crate support in parquet-rs - sure, we can do that. Record API returns you a struct with scale and precision and you can decide how to parse it with or without library.
- If you are talking about decimal writes using BigDecimal library - then no, we can't do that, because Decimal is not the parqu

[2018-11-15 07:46] xrl commented on #177
Yes, this one: `If you are talking about some generic BigDecimal crate support in parquet-rs`

Having to translate the scale/precision seems like cutting the translation too early. Is it common to work with scale/precision directly? Are there many popular options for arbitrary precision values?

Would you be open to transparent BigDecimal serialization/deserialization?

[2018-11-15 08:02] xrl commented on #173
My comments about `Rc`/`Arc` are probably non-sense :)

I think we can support people putting their values in Box.

[2018-11-16 18:44] xrl opened #192 "High Level Record Writer"
This issue has been mentioned in multiple tickets including #174. I'd like to have a tracking issue for design of a Record Writer. I was playing around with a procedural macro design, something which could support `#[derive(ParquetRecord)]` or similar name.

I'd like to support all the pointer/non-pointer values inside of the record struct: `String`, `&String`, `&str`, `Option<&str>`, `Option<&Str

[2018-11-20 15:56] xrl commented on #192
@sadikovi what do you think of this design? you mentioned you were going to work on a high-level record writer and I was curious if this design is in line with what you wanted.

[2018-11-20 23:33] sadikovi commented on #192
Thanks for writing the comment. I have been snowed under with the current project, so apologies for that.

I quite like your idea, it is a bit different from mine. Would like to see it done, it could be a performant solution.

I was going to reuse our Row API for values, mainly because we already have it.

We can add macros to help users write less code, including file creation.

When it comes to

[2018-11-27 20:33] jcgomes90 opened #195 "ParquetDecodingException When Writing Boolean"
I have a schema with a field of type boolean defined

[code]

I am using the BoolColumnWriter to write the boolean data:

[code]

When I try to run the generated parquet file, I get the following exception:
**org.apache.parquet.io.ParquetDecodingException: Can not read value at 0 in block -1 in file**

I cant seem to get passed this issue. Any idea why this is happening?

[2018-11-28 08:13] sadikovi commented on #195
Wow! Thanks for reporting the error. I am not sure what system you use to read Parquet files, but it apparently uses parquet-mr.

It looks like the problem is using dictionary encoding for Boolean type. It does not seem to be supported in parquet-mr. See below:

When I write file of a single boolean with dictionary enabled, I get the following:
[code]

Reading file using parquet-read:
[code]

But

[2018-11-28 08:18] sadikovi commented on #195
So the idea is disabling dictionary encoding either for the entire schema or for a column. To do that simply use either:
[code]
or
[code]

Full API: https://sunchao.github.io/parquet-rs/master/parquet/file/properties/index.html

Try that, see if it works for you. Meanwhile I will try fixing it in the codebase.

[2018-11-28 08:39] sadikovi commented on #195
@sunchao It looks like parquet-mr does not apply dictionary encoding for boolean fields at all. Here is what it does:

V1 - PLAIN: https://github.com/apache/parquet-mr/blob/dc61e510126aaa1a95a46fe39bf1529f394147e9/parquet-column/src/main/java/org/apache/parquet/column/values/factory/DefaultV1ValuesWriterFactory.java#L74

V2 - RLE: https://github.com/apache/parquet-mr/blob/dc61e510126aaa1a95a46fe39

[2018-11-28 08:49] sunchao commented on #195
Yes please go ahead. Thanks. I guess it doesn't make much sense to use dictionary encoding for boolean types.

[2018-12-01 22:54] xrl opened #198 "A column can no longer be closed after get_typed_column_writer is used"
I was trying to implement `ColumnWriter` variant-agnostic code for #197 and I could not close the column with `RowGroupWriter`. Looks like once you "upcast" the ColumnWriter -> ColumnWriterImpl you can't close it, so perhaps the `get_typed_column_writer` is only useful for tests?

Here's a snippet of the failing code:

[code]

[2018-12-02 17:43] sadikovi commented on #198
What do you mean by upcast? Those are completely different structs.
Could you elaborate on this comment?

[code]

Unfortunately, row group writer only works with column writer, not column writer impl. Closing the latter would not be seen by the former, because there is no way to close column writer impl. We can add a method to close column writer impl, or, as an alternative, we can mark `get_typed

[2018-12-03 02:48] xrl commented on #198
Those are good points. I vote for turning `get_typed_column_writer` private.

[2018-12-03 02:51] xrl commented on #198
Also, the comment for `get_typed_column_writer` is from the docs for the function:

[code]

[2018-12-03 06:53] #195 closed

[2018-12-03 21:47] xrl commented on #179
@sunchao should the checklist in the README.md be updated to check this off?

[2018-12-03 22:30] xrl commented on #179
Ah, I didn't get there was a got'cha. 👍

[2018-12-04 17:05] jcgomes90 opened #200 "How to get column name"
I am trying to write out a parquet file with a schema that will have many fields:

[code]
I am iterating through the row columns as below.

[code]

I want to read the column name of the schema (ie. 'a'). Ideally have a match statement within the while loop for the column name. I read through the parquet-rs documentations and couldn't find a way to do this. Is this possible? Is there an alternative

[2018-12-04 18:39] sunchao commented on #200
When you initialize the file writer, you'd pass a schema to it right? you should be able to get the field name from the schema I think.

[2018-12-04 20:44] jcgomes90 commented on #200
Is it possible to get the field name of the column when doing the writes?

[2018-12-05 19:16] sadikovi commented on #176
I am going to close this ticket. I don't think we should do any follow-up.

[2018-12-05 19:16] #176 closed

[2018-12-05 19:34] sadikovi opened #201 "Benchmark record_reader_10k_collect fails with Int96 error display conversion"
When running benchmark `record_reader_10k_collect`, it fails with the following error:
[code]

It relates to the work we did for Int96-timestamp conversion. I think we should solve it somehow or prioritise work on Int96 conversion.

[2018-12-05 19:34] sadikovi commented on #201
@sunchao do you think we should update the benchmark or finally fix this Int96 conversion? Thanks!

[2018-12-05 19:39] sadikovi commented on #201
I was also thinking about updating the internal `Group` field to use simple list without strings. Here are the benchmark results:

Current master branch:
[code]

api::Row::Group field without String components (only fields):
[code]

Shall we make the change? It does change public API a little bit, but speeds up reading and we can print field names by passing schema pointer.

Let me know what you t

[2018-12-06 05:30] sunchao commented on #201
I'm inclined to update the benchmark for now, and address the INT96 conversion later. It seems non-trivial to fix the issue.

Yes I think it is a good idea. I also tried to do this before. It doesn't make much sense for each `Row` to carry the field names. Like you suggested, perhaps we can supply the field names via other ways so API won't be changed much.

[2018-12-06 07:53] sadikovi commented on #201
I am curious how the benchmark was working previously. Sounds like a regression with this Int96 conversion. Anyway, I am going to simply discard the column for now.

[2018-12-06 17:42] sunchao commented on #201
Interesting. Looks like this benchmark started to fail since [this commit](https://github.com/sunchao/parquet-rs/commit/02402983b9f6d15a22e7cab5d647c683f844dff3), so previously they did not fail but just return garbage result?

[2018-12-06 19:03] xrl opened #203 "Derive parquet schema from struct"
If users write to their parquet files through an intermediate struct, we can help them out by generating the parquet schema from the struct.

I like to model rows of my parquet file using structs, for example:

[code]

and then I have to manually track the schema, writing something by hand like:

[code]

and any time I make a change to the `PurchaseOrderRecord` I have to manually update `purchase_

[2018-12-07 07:36] sadikovi commented on #201
I reverted this commit and tried reading the file, and it panicked .
[code]

[2018-12-07 07:37] sadikovi commented on #201
Anyway, it does not matter that much.

[2018-12-07 08:14] #201 closed

[2018-12-10 18:02] alecmocatta opened #205 "Parameterize reading of rows with a type parameter, checked against the schema, and used to specialize the deserialization of rows"
### Proposal
Parameterize reading (and potentially writing) of rows with a type parameter, which is checked against the file's schema, and used to specialize the deserialization (and potentially serialization) of rows.

Achieve this by adding a type parameter to [`get_row_iter()`](https://docs.rs/parquet/0.4.2/parquet/file/reader/trait.FileReader.html#tymethod.get_row_iter) and [`RowIter`](https:/

[2018-12-10 21:56] sadikovi commented on #205
Thanks for the write up and your interest.

I have a few questions:
- What about schema column names that cannot be struct fields in Rust?
- How do you handle things like lists and timestamps, since there are a few (legacy) variations of their representation?
- You mentioned substantial boost in performance. Could you mention numbers? Thanks.
- What about schemas larger than 32 fields?

[2018-12-10 23:38] alecmocatta commented on #205
@sadikovi Thanks for your response!

Good questions.

I haven't implemented this yet but I intend to use the same approach as `#[serde(rename = "...")]`, i.e.
[code]

such that any column name can be referred to, while keeping the struct field name valid.

I believe I've used all of the relevant work and workarounds that are in the codebase currently to handle this correctly. i.e. if the user prov

[2018-12-11 08:24] sadikovi commented on #205
I would like to see the code, because you are using existing record assembly machinery and seeing these improvements.

How do you do projection on legacy parquet files then? Do you prune columns from already parsed schema?

[2018-12-11 17:51] #200 closed

[2018-12-11 22:03] alecmocatta commented on #205
@sadikovi An estimate based on my experimentation so far: 50% of the speedup is from avoiding allocation (and the resulting optimisations the compiler can make; allocation is an optimisation blocker), 25% is from specialization, and 25% is from various other changes. I have further to go so I'm hopeful I'll speed it up a bit more – in theory the bottleneck should be syscalls and decompression here

[2018-12-12 06:30] sunchao commented on #205
Thanks @alecmocatta ! The performance improvement looks very impressive 👍 ! Looking forward to a PR on this 😄 .

[2018-12-12 08:16] sadikovi commented on #205
Allocation of what? How do you avoid allocation - you need to return rows? Are you using a mutable row reference instead?

[2018-12-20 15:51] jcgomes90 opened #208 "Writing repeated group within a group?"
I have a schema as follows:

[code]

I am writing the columns as such:

[code]

That gives me the parquet output like:

Wheras I want something like:

How is the right way to do this?

[2018-12-20 20:38] #208 closed

[2018-12-27 18:15] xrl opened #209 "Remove arena crate dependency"
The `src/lib.rs` has a `extern crate arena` line. Where is that used? I looked for use of the arena crate and I didn't find anything.

If I remove it, the `parquet-read`/`parquet-schema` binary executables don't need any dylib paths.

With arena:

[code]

Without arena:

[code]

Are we open to removing the `extern crate arena` line from `src/lib.rs`?

[2018-12-27 18:51] sunchao commented on #209
Good point. We don't need the line. It is already removed in the [arrow](https://github.com/apache/arrow/blob/master/rust/src/lib.rs) project though.

[2018-12-27 19:00] xrl commented on #209
Cool, closing!

[2018-12-27 19:00] #209 closed, assigned to nobody

[2019-01-04 07:08] sunchao commented on #205
Hi @alecmocatta , just curious whether there's any update on this?

[2019-01-04 09:50] alecmocatta commented on #205
@sunchao I've been on holiday but will PR this next week. I intend to open a JIRA and PR against https://github.com/apache/arrow/tree/master/rust/parquet/src, is that the right thing to do?

[2019-01-05 06:13] sunchao commented on #205
Thanks. Yes, filing a JIRA against arrow is the right thing to do. Looking forward to it!

[2019-01-11 00:30] alecmocatta commented on #205
My fork is here: https://github.com/alecmocatta/parquet-rs

It currently triggers an ICE on usage https://github.com/rust-lang/rust/issues/53443 and much is currently commented out until I finish refactoring.

I'll investigate, finish the refactor, clean up the code, and rebase on https://github.com/apache/arrow in the coming week or so.

[2019-01-15 14:58] jcgomes90 opened #210 "Writing Optional Field Values"
Whenever I create a schema with an OPTIONAL field and insert data in that field, it doesn't seem to get written to the parquet file. I have a schema as follows:

[code]

I am writing the data where _rep_ = 1 when more than one variable _c_:

`typed_writer.write_batch(&[val],Some(&[1]),Some(&[rep])).unwrap();`

Any idea why this is the case? Am I not writing the optional fields the right way?

[2019-01-16 07:20] sunchao commented on #210
@jcgomes90 : I think the definition level should be 2, because both repeated and optional contribute to definition levels. If you only have one value, then the repetition level should be 0, since it is the start of a new list.

Therefore, if you do:

[code]
then it should write some valid data.

[2019-01-21 22:03] alecmocatta commented on #205
JIRA here: https://issues.apache.org/jira/browse/ARROW-4314

[2019-01-21 22:44] sunchao commented on #205
Thanks @alecmocatta ! Could you open a pull request in arrow? it's a pretty big change and I'll take some time to look at it.

[2019-01-21 22:45] #210 closed, assigned to nobody

[2019-01-29 15:34] jcgomes90 opened #211 "Parquet Output Filesize"
I have a program that is writing out to a parquet file. Although parquet is a columnar data storage, I am writing row by row. I can understand this being a hit on performance since the library allows columnar bulk writes.

My concern is the file size. When I view the parquet file using the Apache reader, everything looks fine. But opening the file in text editor, it looks like the column title is

[2019-01-30 17:46] jcgomes90 commented on #211
The file size looks to be coming from the fact that the library is writing the column header every time we are writing a row.

[2019-02-03 22:56] sunchao commented on #211
Sorry for the late reply. Have you resolved the issue? If not, can you share the code which does the writing? You should write multiple rows in each row group.

[2019-02-04 16:56] jcgomes90 commented on #211
I am reading rows as they come (real-time). My schema looks something like this:

[code]
I would call a write_data function which I call for every row which looks something like this:

[code]

When I am done writing all the rows, I call a close_writing function which simply:
`serialized_writer.close();`

So essentially, I am calling that write_data function for every row of data which looks to be

[2019-02-04 19:34] sunchao commented on #211
Yes, it seems you are calling `close_column` and `close_row_group` for every row, which is not optimal. The latter will write the Parquet row group metadata to the file. Instead, you should keep writing and only close them until all rows (or a fixed number of rows, such as 1024) are written.

[2019-02-04 20:19] jcgomes90 commented on #211
Thanks for the reply. Is there any way to get the last open row group from the row group writer? Maybe I can try closing the row group from the close_writing function.

[2019-02-05 18:43] jcgomes90 commented on #211
If I am writing the parquet output row by row, it doesnt seem like it is possible to write multiple rows in one row group since the row is iterating through each of the columns.

[2019-11-11 14:27] brainstorm commented on #211
Hi @jcgomes90, could you share a bit more of this parquet column-level write code? I'm about to write some code that does a "migration" from a parquet file towards another parquet file with two extra columns and would like to have some good working examples to base my work on.

I know that write row support is not there yet on `parquet-rs` but your code seems to be the closest to get there... perf

[2019-11-11 14:53] brainstorm commented on #211
Oh, nevermind, I think I'll use `parquet_derive` (https://github.com/ccakes/parquet_derive) for now while https://github.com/apache/arrow/pull/4140 gets merged/worked on by @xrl, @sunchao et al 👍

[2019-12-17 09:32] toshitanian opened #212 "parquest-format-rs changes their type formats"
https://github.com/sunchao/parquet-format-rs/commit/63daa55cfd63c94b73000d75087f2522d2bacef6

[2019-12-17 23:35] sunchao commented on #212
Yes. This is updated accordingly in [Arrow](https://github.com/apache/arrow/tree/master/rust), where this repo has migrated to.

[2019-12-18 07:12] toshitanian commented on #212
Ok, I didn't know that this repo is deprecated. Thank you

[2019-12-18 07:12] #212 closed, assigned to nobody

[2021-01-06 13:42] aldanor opened #213 "Ergonomics: add .as_*() to ColumnWriter"
It might be nice to avoid tons of `if let` and `match` statements all over the place to add `.as_*()` methods to `ColumnWriter`, for example:

[code]

[2021-01-06 13:49] aldanor opened #214 "Ergonomics idea: closure/RAII-based writer access"
Here's a real example:

[code]

What if instead you could do something like this (discussable, there's many ways to do this):

[code]

This way you rely on RAII to close things where needed and there's a bit less boilerplate.

[2021-01-06 15:58] aldanor commented on #213
(This already exists as a separate function `get_typed_column_writer_mut()` or something like that - it's just it would be nice to have it as method; also that function panics instead of returning `Result`)

[2021-01-10 22:06] nevi-me commented on #214
Hey @aldanor, saw your `fast-float` crate, then on your GH profile I noticed that you opened an issue on this repo.
Development has moved to https://github.com/apache/arrow, where the `parquet` crate now lives in the `rust/parquet` repository.

Would you mind opening this issue in our JIRA at https://issues.apache.org/jira/projects/ARROW/issues?

[2021-01-10 22:07] nevi-me opened #215 "Archiving repo"
Hi @sunchao @sadikovi @andygrove may you please archive this repo, in case people still use it.
I just saw that someone opened 2 issues in the last week.